body {
    margin: 0;
    padding: 0;
    background: #ffffff;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    border: black;
    border-width: 20px;
}
.backgroundPic{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-image: url(park.jpg);
    background-position: center;
    background-size: cover;
    opacity: 0.8;
}
/* Style the buttons */
.tab {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px; /* Align items to the start (left) of the container */
  }
  
.tab button {
    background-color: #29091e; /* Brown color */
    border: none;
    color: bisque;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 0; /* Adjust vertical spacing */
    cursor: pointer;
    border-radius: 20px; /* Rounded edges */
  }
  
.tab button:hover {
    background-color: #A0522D; /* Darker brown color on hover */
  }
  


.tabContent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #ffb94f;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    
}

.logo {
    display: flex;
    flex-direction: row;
    color: #29091e;
    font-size: 1.7vw;
    padding-right: 18vw;
}

nav {
    display: flex;
    flex-direction: row;
    float: right;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav li {
    margin: 0 3vw;
    position: relative;
}

nav a {
    color: #29091e;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4vw;
}

.active::before {
    content: '';
    display: block;
    border-radius: 0.2vw;
    height: .4vw;
    background-color: bisque;

    position: absolute;
    top: -1vw;
    width: 100%;
}

nav a:hover {
    color: bisque;
}

nav a::before {
    content: '';
    display: block;
    border-radius: 0.2vw;
    height: .4vw;
    background-color: #29091e;

    position: absolute;
    top: -1vw;
    width: 0%;

    transition: all ease-in-out 230ms;
}

nav a:hover::before {
    width: 100%;
}