body {
    margin: 0;
    padding: 0;
    background: #ffffff;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    border: black;
    border-width: 20px;
}

.tabs {
    overflow: hidden;
}

/* Style the buttons */
.tab button {
    background-color: #ffb94f; /* Yellow color */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px; /* Rounded edges */
  }
  
.tab button:hover {
    background-color: #ffd369; /* Darker yellow color on hover */
  }
  




.tabContent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #ffb94f;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    
}

.logo {
    display: flex;
    flex-direction: row;
    color: #29091e;
    font-size: 1.7vw;
    padding-right: 18vw;
}

nav {
    display: flex;
    flex-direction: row;
    float: right;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav li {
    margin: 0 3vw;
    position: relative;
}

nav a {
    color: #29091e;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4vw;
}

.active::before {
    content: '';
    display: block;
    border-radius: 0.2vw;
    height: .4vw;
    background-color: bisque;

    position: absolute;
    top: -1vw;
    width: 100%;
}

nav a:hover {
    color: bisque;
}

nav a::before {
    content: '';
    display: block;
    border-radius: 0.2vw;
    height: .4vw;
    background-color: #29091e;

    position: absolute;
    top: -1vw;
    width: 0%;

    transition: all ease-in-out 230ms;
}

nav a:hover::before {
    width: 100%;
}