body {
    margin: 0;
    background: #29091e;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: bisque;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    color: #29091e;
    float: left;
    font-size: 1.7vw;
    width: 30%;
    padding-top: 0.6vw;
    text-align: center;   
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 0 3vw;
    padding-top: 1.3vw;
    padding-bottom: 1vw;

    position: relative;
}

nav a {
    color: #29091e;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4vw;
}

nav a:hover {
    color: #ffb94f;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #29091e;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 230ms;
}

nav a:hover::before {
    width: 100%;
}