body {
  margin: 0;
  background: #ffffff;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

h1 {
    font-size: 1.5em;
    margin-top: 20px;
    margin-left: 20px;
}

#map {
    position: absolute;
    display: flex;
    flex-direction: column;
    float: right;
    right: 2%;
    height: 75vh;
    top: 15vh;
   
    width: 60%;
    z-index: 1;
}

#userInfo label,
#userInfo input {
    display: block;
    margin-bottom: 10px;
    margin-left: 20px;
}

#userInfo button {
    margin-left: 30px; /* Adjust the left margin to shift the button to the right */
}

#searchResult {
    display: none;  /* Initially hidden */
    width: 35vw;     /* 80% of the parent element's width */
    height: 25vh;   /* 50% of the viewport's height */
    border: 1px solid #ccc; /* Add a border for better separation */
    border-radius: 8px; /* Round the corners */
    margin-top: 20px;
    margin-left: 20px;
    background-color: #f8f8f8; /* Add a background color */
    text-align: center; /* Center the content */
}

#LocationName,
#LocationRating,
#LocationOpenStatus,
#LocationAddress {
    margin: 10px 0; /* Add margin to each paragraph for spacing */
}

/* Optionally, you can add additional styling for each paragraph individually */
#LocationName {
    font-size: 1.5em;
    font-weight: bold;
    color: #007bff; /* Set the color to blue */
}

#LocationRating {
    font-size: 1.2em;
    color: #28a745; /* Set the color to green */
}

#LocationOpenStatus {
    font-size: 1.2em;
    color: #dc3545; /* Set the color to red */
}

#LocationAddress {
    font-size: 1.2em;
    color: #333; /* Set the color to dark gray */
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #ffb94f;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    
}

.logo {
    display: flex;
    flex-direction: row;
    color: #29091e;
    font-size: 1.7vw;
    padding-right: 18vw;
}

nav {
    display: flex;
    flex-direction: row;
    float: right;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav li {
    margin: 0 3vw;
    position: relative;
}

nav a {
    color: #29091e;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4vw;
}

.active::before {
    content: '';
    display: block;
    border-radius: 0.2vw;
    height: .4vw;
    background-color: bisque;

    position: absolute;
    top: -1vw;
    width: 100%;
}

nav a:hover {
    color: bisque;
}

nav a::before {
    content: '';
    display: block;
    border-radius: 0.2vw;
    height: .4vw;
    background-color: #29091e;

    position: absolute;
    top: -1vw;
    width: 0%;

    transition: all ease-in-out 230ms;
}

nav a:hover::before {
    width: 100%;
}